*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# project
.git
.venv
.gitignore
.python-version
pyproject.toml
uv.lock
.env
__pycache__/

# personal
notes.txt
slurm_commands
src/test.ipynb
old_output

# not ready
old_output
src/test.ipynb
src/R1_test.ipynb
*.py[cod]
