*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# project
.git
.venv
.gitignore
.python-version
pyproject.toml
uv.lock

# personal
notes.txt
slurm_commands
src/test.ipynb
old_output

# not ready
*.csv
experiments/attention
experiments/confidence
experiments/DAS
experiments/steering_vector
old_output
src/test.ipynb
src/R1_test.ipynb
.env
__pycache__/
*.py[cod]
